.nav-item {
    color: #6c6c6c;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 400;
   
}
.nav {
    height: 16px;
    word-spacing: 40px;
    position: relative;
    
    
}
.nav-item:hover {
    color: #6c6c6c;
    border-bottom: 3px solid #5094f2;
    padding-bottom: 17px;
    
}
.is-active {
    color: #6c6c6c;
    border-bottom: 3px solid #5094f2;
    padding-bottom: 17px;
}
.menu {
    
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: purple;
    right: 0;
    top: -20px;
    visibility: hidden;
}
@media (max-width: 640px){
    .nav-item {
        display: none;
    }
    .menu {
        visibility: visible;
    }
}